html, body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif; 
}

/* Header Formatting */

header {
    margin: 0 0 0 0;
    height: 60px;
}

nav {
    display: flex;
    margin: auto;
    flex-direction: row;
    height: 4rem;
    background-color: rgb(18, 18, 18);
    justify-content: center;
    align-items: center;
    padding: 4px 0px;
    box-sizing: border-box;
    gap: 0.5rem;
}
 
/* IMDb Logo */

nav .imdb-logo {
    font-family: Impact, sans-serif;
    color: #000;
    text-decoration: none;
    padding: .2em .5em;
    border-radius: 4px;
    background: #DBA506;
    font-weight: 300;
}

nav .imdb-logo:hover {
    transition: 0.2s ease-in-out;
    filter:brightness(95%);
}

/* Menu Button */

nav .menu {
    display: flex;
    width: max-content;
    align-items: center;
    padding-left: 20px;
    font-family: Arial, sans-serif;
    font-size: smaller;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    padding: .7em 1em;
    border-radius: 4px;
    gap: .35em;
    height: 1rem;
}

nav .menu:hover {
    transition: 0.2s ease-in-out;
    background-color: #222222b0;
    filter:brightness(150%);
}

nav .menu img {
    height: 3vh;
}

/* Drop Down */

header nav .search-bar .drop-down {
    display: inline-flex;
    position: relative;
    align-items: center;
    left: 0;
    z-index: 1;
    background-color: #fff;
    padding-left: 8px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    cursor: pointer;
    border-right: solid #555 1px;
    flex-wrap: nowrap;
}

header nav .search-bar .fa-caret-down {
    background-color: #fff;
    color: #555;
    border: none;
    position: relative;
    left: auto;
    padding: 6px 8px 6px 8px;
}

header nav .search-bar .drop-down:hover {
    background-color: #ccc;
}

header nav .search-bar .drop-down i{
    background-color: inherit;
}

header nav .search-bar .drop-down i:hover {
    transition: all 0.2s ease;
    transform: scaleY(-1)
}


/* Search Bar */

header nav .search-bar {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    height: 2rem;
    width: 45rem;
}

header nav .search-bar .search-field {
    padding: 6px 0px 6px 8px;
    border-radius: 4px;
    outline: none;
    border: none;
    width: inherit;
}

header nav .search-bar:hover {
    border: solid #DBA506 2px;
    transition: border 0.2s ease-in-out;
    outline: none;
}


header nav .search-bar .fa-search {
    background-color: #fff;
    color: #555;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    left: auto;
    padding: 6px 8px 6px 8px;
    margin-left: auto;
}

/* IMDb Pro */

header nav .imdb-pro {
    font-family: Impact, sans-serif;
    font-size:smaller;
    text-decoration: none;
    display: inline-block;
    padding: .4em .5em;
    border-radius: 4px;
    font-weight: lighter;
    color: #fff;
}

header nav .imdb-pro mark {
    color: #128bb5;
    background-color: unset;
}

header nav .imdb-pro:hover {
    transition: 0.2s ease-in-out;
    background-color: #222222b0;
    filter: brightness(150%);
}

header nav .watchlist {
    display: flex;
    flex-direction: row;
    font-family: Arial, sans-serif;
    width: max-content;
    align-items: center;
    font-weight: bold;
    color: #fff;
    padding: .65em .55em;
    border-radius: 4px;
    gap: .35em;
    height: 1rem;
}

header nav .watchlist a {
    text-decoration: none;
    color: #fff;
}

header nav .watchlist:hover {
    transition: 0.2s ease-in-out;
    background-color: #222222b0;
    filter:brightness(150%);
}

header nav .signin {
    font-family: Arial, sans-serif;
    display: inline-block;
    color: #fff;
    padding: .65em .55em;
    font-weight: bold;
    border-radius: 4px;
    height: 1rem;
    width: 4rem;
} 

header nav .signin mark {
    visibility:hidden;
}

header nav .signin a {
    text-decoration: none;
    color: #fff;
}

header nav .signin:hover {
    transition: 0.2s ease-in-out;
    background-color: #222222b0;
    filter:brightness(150%);
}

header nav .lang {
    display: flex;
    flex-direction: row;
    font-family: Arial, sans-serif;
    width: max-content;
    align-items: center;
    font-weight: bold;
    color: #fff;
    padding: .65em .55em;
    border-radius: 4px;
    gap: .35em;
    height: 1rem;
}

header nav .lang a {
    text-decoration: none;
    color: #fff;
}

header nav .lang:hover {
    transition: 0.2s ease-in-out;
    background-color: #222222b0;
    filter:brightness(150%);
}

/* Main Body Decorations */

main {
    margin: 0px;
    padding: 3vh 15vw;
    background: rgb(152,124,95);
    background: radial-gradient(circle, rgba(152,124,95,1) 0%, rgba(7,10,14,1) 100%);  
}

/* Movie Info */

main .movie {
    color: #fff;
    font-family: Arial, sans-serif;
}

/* Top UL */

main .movie ul {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: row;
    margin: 0;
    height: 2rem;
    gap: 1rem;
}

main .movie ul li {
    padding: .65em .55em;
}

main .movie ul li a {
    text-decoration: none;
    color: #fff;
    font-size: small;
}

main .movieinfo ul li {
    font-weight: bold;
}

main .movie ul .first {
    list-style: none;
    height: 1rem;
}

main .movie ul .second {
    list-style: disc;
    height: 1rem;
}

main .movie ul .last {
    list-style: none;
    border-left: solid 1px grey;
    height: 1rem;
}

main .movie ul .button {
    display: flex;
    gap: 1em;
    padding-left: 1em;
    border-right: grey solid 1px;
    background-color: rgb(211, 211, 211, 0);
}

main .movie ul .button:hover {
    transition: 0.2s ease-in-out all;
    background-color: rgb(211, 211, 211, 0.2);
}

main .movie ul .button a:hover {
    text-decoration: unset;
} 

main .movie ul .share {
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 2rem ;
    width: 2rem;
}

main .movie ul .share:hover {
    transition: 0.2s ease-in-out;
    background-color: #222222b0;
    filter:brightness(150%);
}

main .movie ul li a:hover {
    color: #fff;
    text-decoration: underline;
}

/* Movie Title section */

main .moviecontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main .movietitle {
    display: flex;
    flex-direction: column;
}

main .movietitle span {
    font-size: 3rem;
}

main .movietitle ul {
    display: inline-flex;
    justify-content: left;
    align-items: center;
    gap: 0.2rem;
    padding-left: 0px;
    font-size: unset;
}

main .movietitle ul li {
    padding-left: 0px;
    padding-right: 1rem;
}

main .movietitle ul li span {
    font-size: small;
}

/* Movie Ratings */

main .movierating {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 2vh 2vh;
    gap: 2vh;
}

main .movierating span {
    font-size: 0.9em;
    color: rgb(245, 245, 245, 0.5);
    font-weight: bold;
}

main .movierating a {
    text-decoration: none;
}

main .movierating .bottombutton {
    background-color: inherit;
    padding: 0px 10px;
    margin-top: 4px;
    border-radius: 4px;
    background-color: rgb(211, 211, 211, 0);
}

main .movierating .bottombutton:hover {
    transition: all ease-in-out 0.2s;
    background-color: rgb(211, 211, 211, 0.2);
}

main .movierating .IMDbRating {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

main .movierating .IMDbRating .star {
    color: #DBA506;
    font-size: x-large;
}

main .movierating .IMDbRating .bottom {
    display: flex;
    gap: 1vh;
    align-items: center;
}

main .movierating .IMDbRating .bottom .ratingTextTop span mark {
    background-color: unset;
    font-size: large;
    color: unset;
}

main .movierating .IMDbRating .bottom .ratingTextBottom {
    font-size: small;
    font-weight: lighter;
}

main .movierating .YourRating {
    display: flex;
    flex-direction: column;
}

main .movierating .YourRating .bottom {
    display: flex;
    justify-content: center;
    align-content: center;
    color: #128bb5;
    font-weight: bold;
    font-size: larger;
    padding-top: 1vh;
    gap: 0.5em;
    padding: 7px 10px;
    border-radius: 5px;
    margin-top: 4px;
    background-color: rgb(211, 211, 211, 0);
}

main .movierating .YourRating .bottom:hover {
    transition: all ease-in-out 0.2s;
    background-color: rgb(211, 211, 211, 0.2);
}

main .movierating .Popularity {
    display: flex;
    flex-direction: column;
}

main .movierating .Popularity .bottom {
    color: whitesmoke;
    font-size: x-large;
    display: inline-flex;
    justify-content: center;
    gap: 0.5vw;
    background-color: rgb(211, 211, 211, 0);
    border-radius: 5px;
    padding: 4px 4px;
    margin-top: 4px;
}

main .movierating .Popularity .bottom i {
    border: solid whitesmoke 3px;
    border-radius: 50%;
}

main .movierating .Popularity .bottom:hover{
    transition: all ease-in-out 0.2s;
    background-color: rgb(211, 211, 211, 0.2);
}

/* Movie poster and Trailer section */

main .moviebox {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-content: center;
    position: relative;
}

/* Overlay button (looks like a banner) */

main .moviebox .poster .banner {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 6vh;
    width: 4vh;
    background-color: #555;
    opacity: 60%;
    border: solid whitesmoke 2px;
    z-index: 1;
    cursor: pointer;
}

main .moviebox .poster .banner:hover {
    transition: all 0.2s ease;
    opacity: 80%;
}

/* Poster settings */

main .moviebox .poster {
    position: relative;
    cursor: pointer;
}

main .moviebox .poster img {
    height: 48vh;
}

main .moviebox .trailer {
    display: flex;
    justify-content: center;
    align-content: center;
}

main .moviebox .trailer video {
    height: 48vh;
    cursor: pointer;
}

main .moviebox .buttons {
    height: 48vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

main .moviebox .videos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    padding: 1vh;
    cursor: pointer;
    color: #fff;
    background-color: rgb(211, 211, 211, 0.2);
    border-top-right-radius: 4px;
    height: inherit;
    width: 13rem;
}

main .moviebox .videos a {
    text-decoration: none;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: small;
    gap: 1vh;
}

main .moviebox .videos a i {
    font-size: x-large;
}

main .moviebox .videos:hover {
    transition: all ease-in-out 0.2s;
    background-color: rgb(211, 211, 211, 0.5);
}

main .moviebox .images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    padding: 1vh;
    cursor: pointer;
    color: #fff;
    background-color: rgb(211, 211, 211, 0.2);
    border-bottom-right-radius: 4px;
    height: inherit;
    width: 13rem;
}

main .moviebox .images:hover {
    transition: all ease-in-out 0.2s;
    background-color: rgb(211, 211, 211, 0.5);
}

main .moviebox .images a {
    text-decoration: none;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: small;
    gap: 1vh;
}

main .moviebox .images a i {
    font-size: x-large;
}

/* Genres Buttons */

main .genres {
    margin-top: 1vh;
}

.btn {  
    font-family: Arial, Helvetica, sans-serif; 
    text-transform: uppercase;
    height: 4vh;
}  


.btn-moving-gradient {  
    height: 25px;  
    width: 75px;  
    font-size: 1vh;  
    font-weight: 300;  
    color: whitesmoke;  
    cursor: pointer;  
    border: solid whitesmoke 1px;  
    border-radius: 50px;
    background-color: rgb(211, 211, 211, 0);
}  

.btn-moving-gradient:hover {  
    transition: all 0.5s ease-in-out;
    background-color: rgb(211, 211, 211, 0.5);
}  

/* Extra info formatting */

main .xtrainfo {
    display: flex;
    flex-direction: row;
}

main .xtrainfo .left {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    width: 65%;
}

main .xtrainfo .left span {
    color: white;
    font-weight: bold;
    font-size: large;
}

main .xtrainfo .left hr {
    color: rgb(211, 211, 211, 0.5);
    width: 100%;
}

main .xtrainfo ul {
    gap: 2rem;
    display: flex;
    margin: unset;
    padding-left: 20px;
}

main .xtrainfo ul .first {
    list-style: none;
    height: 1rem;
}

main .xtrainfo ul .second {
    list-style: disc;
    height: 1rem;
}

main .xtrainfo a {
    color: #128bb5;
    text-decoration: none;
}

main .xtrainfo a:hover {
    text-decoration: underline;
}

main .xtrainfo .director, .writers, .stars, .imdbPro {
    display: flex;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

main .xtrainfo .stars span {
    margin:0px;

}

main .xtrainfo .imdbPro a {
    padding-left: 40px;
}

main .xtrainfo .imdbPro a i {
    font-size: smaller;
}

main .xtrainfo .right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

main .xtrainfo .right .add-to-watchlist {
    display: flex;
    align-items: center;
    cursor: pointer;
}
      
.add-to-watchlist i {
    margin-right: 5px;
}